node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db
*.log

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Env
.env
.env.*
!.env.example
!.env.test
.env.local

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Build
dist/
/build
/.svelte-kit
.output
.vercel
.netlify
.wrangler
